*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(48, 46, 46);
}

.music-player{
    width: 35rem;
    background-color: #1d1d1e;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.drop-area{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  border: #8a8e8a solid 1px;
  border-radius: 10px;
  border-style:dashed;
}

.drop-area h1 {
  color: white;
  font-style: italic;
  font-weight: 100;
}

.control-panel{
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

.control-button{
  background-color: white;
  border:none;
  border-radius:40px;
  cursor: pointer;
  margin: 0px 5px;
}