:root {
  --bg-components-player: #fff;
  --shadow-components-player: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Geist Mono";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eae7e7;
}

.music-player {
  width: 36rem;
  color: black;
}

.drop-area {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  height: 25rem;
  border: #8a8e8a solid 3px;
  border-radius: 10px;
  border-style: dashed;
  background-color: var(--bg-components-player);
  box-shadow: var(--shadow-components-player);
}

.drop-area h2 {
  font-style: italic;
  font-weight: 100;
}
.container-panel{
  background-color: #fff;
  border-radius: 10px;
  background-color: var(--bg-components-player);
  box-shadow: var(--shadow-components-player);;
}
.song-title {
  text-align: center;
  font-weight: 400;
  padding: 0px;
  font-style: normal;
}

.control-panel {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 0px 5px;
}

progress {
  grid-column: 2;
  height: 10px;
  border-radius: 5px;
  border: black solid 1px;
  background-color: #fff;
}
.control-button {
  grid-column: 1;
  border: none;
  cursor: pointer;
}
#timer{
  text-align: center;
  font-size: 1.5em;
}
.hide-icon {
  display: none;
}

.control-volume {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 0px 5px;
  border-radius: 10px;
  background-color: var(--bg-components-player);
  box-shadow: var(--shadow-components-player);
}

#volume{
  margin-left: 10px;
  width: 100%;
}
